<dl>
	<dt><label for="enable_answer">{{ lang('ENABLE_ANSWER') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ENABLE_ANSWER_EXPLAIN') }}</span></dt>
	<dd><label><input type="radio" class="radio" name="enable_answer" value="1"{% if S_ENABLE_ANSWER %} id="enable_answer" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
		<label><input type="radio" class="radio" name="enable_answer" value="0"{% if not S_ENABLE_ANSWER %} id="enable_answer" checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
</dl>
